@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.tittles {
  font-size: 2rem;
  color: #010b39;
  font-weight: 600;
  text-align: center;
  margin-bottom: 45px;
}

.gradient_title {
  font-weight: 700;
  background: -webkit-linear-gradient(#00a8ff, #4361ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
