@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {font-family: "DIN2014-Regular";
  src: url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.eot"); /* IE9*/
  src: url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.woff2") format("woff2"), /* chrome、firefox */
  url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.woff") format("woff"), /* chrome、firefox */
  url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./DIN2014-Regular/fonts/e0fa406cbe458b32a7ea4e9a379b85fc.svg#DIN2014-Regular") format("svg"); /* iOS 4.1- */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.roboto {
  font-family: 'Raleway', sans-serif;
}
.poppins {
  font-family: 'Raleway', sans-serif;
}
.din {
  font-family: 'DIN2014-Regular', sans-serif;
}
.tittles {
  font-size: 34px;
  color: #010b39;
  font-weight: 700;
  font-family: "DIN2014-Regular";
  text-align: center;
  margin-bottom: 45px;
}

.gradient_shadow {
  text-shadow: 0px 10px 40px rgb(0 168 255 / 15%);
}

.gradient_title {
  font-weight: 700;
  background-color: #435fa9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin_for_choose_section {
  margin-left: auto;
}

.service_card {
  box-shadow: rgba(67, 97, 238, 0.21) 0px 10px 40px;
  border-radius: 9.7094px;
}
.provide_row {
  box-shadow: 0px 0.97094px 3.88376px rgba(0, 0, 0, 0.1);
  border-radius: 9.7094px;
}

.industry_card {
  box-shadow: 0px 4px 21px rgba(117, 117, 117, 0.25);
}
textarea {
  resize: none;
}

.dropdown_title {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-weight: 400;
  border-bottom: solid 1px #dfdfdf;
}
.dropdown_title:hover {
  background: -webkit-linear-gradient(#00a8ff, #4361ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1550px) {
  .margin_for_choose_section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
  .tittles {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 25px;
  }
}
