@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.tittles {
  font-size: 2rem;
  color: #010b39;
  font-weight: 600;
  text-align: center;
  margin-bottom: 45px;
}

.gradient_title {
  font-weight: 700;
  background: -webkit-linear-gradient(#00a8ff, #4361ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin_for_choose_section {
  margin-left: auto;
}

.service_card {
  box-shadow: rgba(67, 97, 238, 0.21) 0px 10px 40px;
  border-radius: 9.7094px;
}
.provide_row {
  box-shadow: 0px 0.97094px 3.88376px rgba(0, 0, 0, 0.1);
  border-radius: 9.7094px;
}

.industry_card {
  box-shadow: 0px 4px 21px rgba(117, 117, 117, 0.25);
}
textarea {
  resize: none;
}
@media (min-width: 1550px) {
  .margin_for_choose_section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
  .tittles {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 25px;
  }
}
